// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #EB5757;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "./variables.scss";

html,body, button, input, select, textarea{
font-family: $font-stack;
font-weight: 300
}

html, body, div#app, div.admin, div.AdminLogin{
	height: 100%
}

div.AdminLogin{ background-color: $primary-light-grey; }
#logincontainer{
	height: 100%;
	display: flex;
	align-items: center;
	.columns.box{
		margin:auto;
		h3.title{ padding-left: 12px }
		.column.is-one-fifth{
			.field{
				.control{
					text-align: center;
					.button{ width: 100% }
				}
			}
		}
	}
}

// .container{
// 	max-width: 992px;
// }
@media #{$medium-and-down} {
	.container{
		max-width: 90%;
		.title.is-3{
			font-size: 1.5rem
		}
	}
	.Footer{
		.navbar.is-desktop{ display: none}
		nav#goTop{
			display: block!important;
		}
	}		
}