@import "./variables.scss";

// REGRAS GLOBAIS
html{
font-family: $font-stack;
}

.chapter-title{
	font-size:36px; 
	color: $main-color

}
img {
		display: block;
		margin: 0 auto;
}

//FORM 
.active{ display: block; }
.hidden{ display: none; }

@media (min-width: 960px)  {
		.flow-text {
			font-size: 1rem
		}
}